.fav-cont{
    display: flex;
    flex-wrap: wrap;
    
    text-align: center;
    margin: 0px 0;

    .fav-item{
        margin: 10px;
        min-height: 300px;
    }
}

.main-fav{
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
}